# Dependency directories
node_modules/
.vscode/

{    "coverPhoto":"shorturl.at/cdhqF",    "title":"post by MONGO2 VIVEK@123_bew",    "tags":["VIVEK","MERN"],    "blog":"this is the content of the blog",    "username":"VIVEK@123" }